body {
  min-width: 320px;
  max-width: 540px;
  margin: 0 auto;
  .example-page-container .sub-header {
    padding: 25px 0 7px 15px;
    color: #909090;
    margin: 0;
    font-size: 14px;
  }
  .example-page-container .sub-content {
    height: 100px;
    position: relative;
    padding: 70px;
    margin: auto;
    text-align: center;
  }
}
