{
  "parser": "@typescript-eslint/parser",
  "env": {
    "jest": true,
    "node": true
  },
  "extends": ["airbnb-typescript", "plugin:@typescript-eslint/recommended", "plugin:react/recommended", "prettier", "prettier/react", "prettier/@typescript-eslint"],
  "plugins": ["@typescript-eslint", "react"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/button-has-type": 0,
    "import/no-extraneous-dependencies": 0
  }
}
